.shirts-page {
    width: 80%;
    display: flex;
    padding-block: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4E6656;
    border-radius: 9px;
    border: 5px solid bisque;
    margin-block: 1rem;
}

.shirts-page section {
    display: flex;
    justify-content: space-around;
}
.shirts {
    width: 25%;
    background-color: bisque;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #EDC06F;
    box-shadow: 2px 2px 2px #F58548;
    color: #4E6656;
    font-family: 'Times New Roman', Times, serif;
}
.shirts img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 9px;
    border: solid 2px whitesmoke;

}

.shirts p, .shirts-page {
    font-family: "Petit Formal Script", cursive;
    font-weight: bold;

}