.footer-page {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: bisque;
    color: #4E6656;
    justify-content: space-around;
    align-items: center;
}

.footer-page article {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

